/*
 Theme Name:   Thoughtfull Foods Blog
 Theme URI:    https://thoughtfullfoods.com/
 Description:  Foodica child theme for Thoughtfull Foods
 Author:       Creative Cache
 Author URI:   https://creativecache.co/
 Template:     foodica
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  thoughtfull-foods-blog
*/

.navbar-brand-wpz h1 {
	font-family: 'Abril Fatface', serif;
	font-size: 3em;
}

.full-width .entry-content {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
}

.wp-block-wpzoom-recipe-card-block-recipe-card.is-style-default .recipe-card-ingredients {
	background-color: #fff;
	padding: 0;
}

.wp-block-wpzoom-recipe-card-block-recipe-card .recipe-card-directions+.footer-copyright {
	display: none;
}